.advantages__header {
  background-color: @color-light;
}

.advantages__header-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-right: 18px;
  padding-left: 18px;
  margin-bottom: 35px;
}

.advantages__header-description {
  text-align: center;
  margin: 0;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .advantages__header-title {
    padding-top: 48px;
    padding-right: 124px;
    padding-left: 124px;
    font-size: 21px;
  }

  .advantages__header-description {
    padding-bottom: 56px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__header-title {
    padding-top: 59px;
    padding-right: 357px;
    padding-left: 357px;
    font-size: 21px;
  }

  .advantages__header-description {
    padding-bottom: 44px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__description {
  margin: 0;
}

.advantages__list--img-theme {
  background-color: #81b3d2;
}

@media (max-width: @mobile-width-only) {
  .advantages__list--img-theme-city::before {
    content: "";
    background-image: url("../img/decor/decor-for-img-city.svg");
    background-repeat: no-repeat;
    height: 37px;
    display: block;
  }
}

.advantages__img {
  display: block;
}

.advantages__title-light {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding-top: 52px;
  margin: 0;
  margin-bottom: 11px;
  color: @color-light;
}

.advantages__title-light-devil-bridge {
  padding-top: 37px;
}


.advantages__number-light {
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
  color: @color-light;
}

.advantages__description-light {
  text-align: center;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 40px;
  margin: 0;
  color: @color-light;
}

@media (min-width: @tablet-width) {
  .advantages__description-light {
    padding-right: 33px;
    padding-bottom: 31px;
    padding-left: 33px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description-light {
    padding-right: 50px;
    padding-bottom: 51px;
    padding-left: 50px;
  }
}

.advantages__item-icon--housing {
  background-image: url("../img/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: left 18px top 21px;
}

.advantages__item-icon--burger {
  background-image: url("../img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: left 18px top 25px;
}

.advantages__item-icon--gift {
  background-image: url("../img/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: left 22px top 22px;
  padding-bottom: 46px;
}

.advantages__title-icon {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 33px;
  margin-bottom: 16px;
  color: @color-bold;
}

.advantages__title-icon-housing {
  margin-top: 0;
  padding-left: 65px;
  padding-top: 31px;
}

.advantages__title-icon-burger {
  padding-left: 65px;
}

.advantages__title-icon-gift {
  padding-left: 65px;
}

@media (min-width: @tablet-width) {
  .advantages__title-icon-housing {
    font-size: 21px;
    padding-top: 158px;
    padding-left: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title-icon-housing {
    padding-top: 169px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__title-icon-burger {
    font-size: 21px;
    padding-top: 156px;
    padding-left: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title-icon-burger {
    padding-top: 166px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__title-icon-gift {
    font-size: 21px;
    padding-top: 153px;
    padding-left: 0;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title-icon-gift {
    padding-top: 170px;
  }
}

.advantages__description-icon {
  text-align: left;
  padding-right: 18px;
  padding-left: 65px;
  color: @color-common;
}

@media (min-width: @tablet-width) {
  .advantages__description-icon-housing {
    text-align: center;
    margin-bottom: 0;
    margin-right: 33px;
    padding-right: 0;
    padding-bottom: 60px;
    padding-left: 33px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description-icon-housing {
    margin-right: 50px;
    padding-left: 50px;
    padding-bottom: 69px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__description-icon-burger {
    text-align: center;
    margin: 0;
    margin-left: 33px;
    margin-right: 33px;
    padding: 0;
    padding-bottom: 61px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description-icon-burger {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 71px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__description-icon-gift {
    text-align: center;
    margin: 0;
    margin-left: 33px;
    padding: 0;
    padding-right: 33px;
    padding-bottom: 64px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description-icon-gift {
    margin-left: 50px;
    padding: 0;
    padding-right: 50px;
    padding-bottom: 67px;
  }
}


@media (min-width: @tablet-width) {
  .advantages__title {
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title {
    margin-bottom: 35px;
  }
}

.advantages__title-darker {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 14px;
}

@media (max-width: @mobile-width-only) {
  .advantages__title-darker:first-child {
    margin-top: 0;
    padding-top: 24px;
    margin-bottom: 20px;
  }
}

.advantages__number-darker {
  text-align: center;
  margin: 0;
  margin-bottom: 17px;
}

.advantages__description-darker {
  text-align: center;
  padding-right: 18px;
  padding-left: 18px;
}

@media (max-width: @mobile-width-only) {
  .advantages__item--darker-theme:not(:last-child) {
    margin-right: 18px;
    margin-left: 18px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
  }
}

.advantages__item--darker-theme:last-child {
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .advantages__title-darker {
    font-size: 21px;
    padding-top: 52px;
  }

  .advantages__title-darker-road {
    padding-top: 41px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title-darker {
    padding-top: 63px;
  }

  .advantages__title-darker-road {
    padding-top: 52px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--darker-theme {
    background-color: #eeeeee;
  }
}


@media (max-width: @mobile-width-only) {
  br {
    display: none;
  }

  .advantages__header-br {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description-br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list--img-theme-city {
    display: grid;
    grid-template-columns: 256px 512px;
  }

  .advantages__item--city {
    background-color: #81b3d2;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list--img-theme-city {
    display: grid;
    grid-template-columns: 400px 800px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list--img-theme-devil-bridge {
    display: grid;
    grid-template-columns: 512px 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list--img-theme-devil-bridge {
    display: grid;
    grid-template-columns: 800px 400px;
  }

  .advantages__item--devil-bridge {
    background-color: #81b3d2;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list--icon-theme {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    background-color: @color-light;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list--icon-theme {
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list--darker-theme {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  .advantages__item--darker-theme {
    background-color: #eeeeee;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list--darker-theme {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    background-color: #eeeeee;
  }

  .advantages__item--darket-theme {
    background-color: #eeeeee;
  }
}
