.checkbox-fields__legend {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .checkbox-fields__legend {
    padding-top: 58px;
    padding-right: 230px;
    padding-left: 230px;
  }
}

.checkbox-fields__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: @color-bold;
  text-transform: none;
}

.control {
  position: relative;
  display: block;
  margin-bottom: 36px;
}

.control-label-checkbox {
  margin-bottom: 36px;
  margin-left: -44px;
}

.control-label-checkbox-third {
  margin-left: -58px;
}

.control-label-checkbox-last {
  margin-bottom: 0;
  margin-left: -28px;
  padding-bottom: 34px;
}

.control-mark-checkbox {
  position: absolute;
  width: 46px;
  height: 46px;
  top: -10px;
  left: 20px;
  border-radius: 4px;
  background-color: @color-gray;
}

@media (min-width: @tablet-width) {
  .control-mark-checkbox {
    left: -26px;
  }
}

@media (min-width: @desktop-width) {
  .control-mark-checkbox {
    left: -53px;
  }
}

.checkbox-fields__checkbox[type="checkbox"]:checked + .control-mark-checkbox::before,
.checkbox-fields__checkbox[type="checkbox"]:checked + .control-mark-checkbox::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/tick.svg");
  width: 22px;
  height: 16px;
  top: 15px;
  left: 12px;
}

.checkbox-fields__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: @tablet-width) {
  .checkbox-fields__list {
    display: grid;
    grid-template-columns: 224px 224px;
    column-gap: 84px;
    padding-left: 124px;
  }

  .checkbox-fields__item:last-child {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-fields__list {
    display: grid;
    grid-template-columns: 172px 172px 172px 172px;
    column-gap: 64px;
    padding-left: 226px;
  }
}

@media (min-width: @tablet-width) {
  .checkbox-fields__legend {
    margin-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-fields__legend {
    margin-bottom: 59px;
  }
}
