.checkbox-fields {
  margin-bottom: 59px;
}


.checkbox-fields__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: @color-bold;
  text-transform: none;
}

// @media (min-width: @tablet-width) {
//   .radio-fields__list {
//     display: grid;
//     grid-template-columns: 280px 280px 280px;
//     margin-left: 96px;
//     margin-right: 96px;
//     width: 648px;
//   }
// }

@media (min-width: @desktop-width) {
  .checkbox-fields__list {
    display: grid;
    grid-template-columns: 172px 172px 172px 172px;
    margin-right: 164px;
    margin-left: 164px;
    width: 960px;
  }
}
