@media (min-width: @tablet-width) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 383px 384px;
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media (min-width: @desktop-width) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 613px 586px;
    margin-right: 120px;
    margin-left: 120px;
  }
}

@media (min-width: @tablet-width) {
  .text-fields__legend,
  .contact-fields__legend {
    margin-bottom: 28px;
  }
}

@media (min-width: @desktop-width) {
  .text-fields__legend,
  .contact-fields__legend {
    margin-bottom: 28px;
  }
}
