.footer {
  width: 320px;
}

.footer__hashtag {
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

