.form-fields__header {
  width: 320px;
  margin: 0 auto;
}

.form-fields__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @color-bold;
}

.form-fields__description {
  text-align: center;
  color: @color-common;
}

.fields__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @color-bold;
}

.text-fields__name,
.contact-fields__email-tel,
.radio-fields__impressions,
.checkbox-fields__showplaces {
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

.feedback__textarea {
  padding: 0;
  margin: 0;
  border: none;
}

.text-fields__list,
.contact-fields__list,
.radio-fields__list,
.checkbox-fields__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .form-fields__header {
    width: 768px;
    min-height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .form-fields__header {
    width: 1200px;
    min-height: 150px;
  }
}
