.form-fields__header {
  width: 320px;
  margin: 0 auto;
}

.form-fields__title {
  padding: 0;
  padding-top: 36px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @color-bold;
}

.form-fields__description {
  text-align: center;
  margin: 0;
  padding-bottom: 28px;
  border-bottom: 1px solid #e5e5e5;
  color: @color-common;
}

.text-fields__label,
.contact-fields__label {
  display: block;
  text-align: left;
  padding-left: 36px;
  padding-bottom: 0;
}

.text-fields__input,
.contact-fields__input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  width: 280px;
  height: 58px;
  margin-left: 20px;
  margin-bottom: 16px;
  padding: 0;
  padding-left: 16px;
  background-color: @color-gray;
  border: none;
  cursor: pointer;
}

.contact-fields__input {
  width: 222px;
}

.contact-fields__wrapper {
  display: flex;
  justify-content: flex-start;
}

.contact-fields__input--icon-phone {
  width: 58px;
  height: 58px;
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-color: #e6e6e6;
}

.contact-fields__input--icon-email {
  width: 58px;
  height: 58px;
  background-image: url("../img/icons/icon-email.svg");
  background-repeat: no-repeat;
  background-position: 23px 23px;
  background-color: #e6e6e6;
}

.text-fields__item:last-child {
  margin-bottom: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.contact-fields__item:last-child {
  margin-bottom: 0;
  padding-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.fields__legend {
  padding: 0;
  padding-top: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @color-bold;
}

.text-fields__name,
.contact-fields__email-tel,
.radio-fields__impressions,
.checkbox-fields__showplaces {
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}

.feedback__textarea {
  padding: 0;
  margin: 0;
  border: none;
}

.text-fields__list,
.contact-fields__list,
.radio-fields__list,
.checkbox-fields__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
