.hotel-searching__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @color-bold;
}

.hotel-searching__description {
  text-align: center;
  color: @color-common;
}

@media (min-width: @tablet-width) {
  .hotel-searching {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-searching {
    width: 1200px;
  }
}
