.hotel-searching__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: @color-bold;
}

.hotel-searching__description {
  text-align: center;
  color: @color-common;
}
