.main-header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.main-header__logo {
  margin-left: 64px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__list a {
  color: #000000;
}

@media (min-width: @tablet-width) {
  .page__wrapper {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

}

@media (min-width: @desktop-width) {
  .page__wrapper {
    width: 1200px;
  }
}
