.main-welcome {
  background-color: @background-spare;
  background-image: url("../img/index-main-pictures/main-background-sedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
