.main-welcome {
  background-color: @background-spare;
  background-image: url("../img/index-main-pictures/main-background-sedona.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 389px;
}

@media (min-width: @tablet-width) {
  .main-welcome {
    height: 518px;
  }
}

.main-welcome__logo {
  padding-top: 90px;
  padding-left: 19px;
}
