.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social {
  display: flex;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .social {
    flex-direction: row;
    justify-content: space-around;
  }
}
