html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #e7e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-light;
  background-color: @color-blue;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(102, 158, 192, 1);

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(84, 150, 189, 1);
  }
}
